body {
    padding-top: 10px;
    text-align: center;
    color: #fff;
    background: #000;
    font-family: arial, monospace;
    background: url(../imgs/background.jpg);
 }
p {
    margin: 5px 0;
 }
input.tabelline {


}
body.h2 {
    color: #555;

}

 div.tabelline {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
   
}

p.result-elem-ko {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    padding: 4px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-indent: 5px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ca0606;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
p.result-elem-ok {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    padding: 4px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-indent: 5px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #00e348;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
