body {
    padding-top: 10px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #000;
    font-family: arial, monospace;
    /* background: url(../imgs/background.jpg); */
 }

span.timer {
    font: normal 18px/1 Arial, Helvetica, sans-serif;
}
 span.fadein {
    font: normal 28px/1 Arial, Helvetica, sans-serif;
    background-color: black;
    animation-name: f_in;
    animation-duration: 1s;
 }
 @keyframes f_in {
    from {background-color: red;}
    to {background-color: black;}
 }

input.tabelline {
    font-size: 28px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

 div.tabelline {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 10px; 
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
   
}
ul {
    padding-left: 0;
}

li.result-elem-ok {
    background-color:#00aa00;
    width: 100%;
    padding: 2px;
    margin: 2px 0;
    overflow: hidden;
    border: none;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
}
li.result-elem-ko {
    background-color:#FF0000;
    width: 100%;
    padding: 2px;
    margin: 2px 0;
    overflow: hidden;
    border: none;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
}
p.sss{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    padding: 2px;
    margin: 2px 0;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-indent: 5px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #00e348;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
